<ion-header>
  <ion-toolbar>
    <ion-title>barcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ngx-qrcode text-center [qrc-element-type]="elementType" [qrc-value] = "value">
  </ngx-qrcode>
</ion-content>
