<div class="container">
  <h1>Visitor Form</h1>
  <form #myform="ngForm" (ngSubmit)="register(myform)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="visitor.name" #name="ngModel">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="visitor.email" #email="ngModel">
    </div>

    <div class="form-group">
      <label for="mobile">Mobile</label>
      <input type="text" class="form-control" id="mobile" name="mobile" required [(ngModel)]="visitor.mobile">
    </div>

    <div class="form-group">
      <label for="govtId">Government Id</label>
      <input type="text" class="form-control" id="govtId" name="govtId" required [(ngModel)]="visitor.govtId">
    </div>

    <div class="form-group">
      <label for="validFrom">Valid From</label>
      <input type="text" class="form-control" id="validFrom" name="validFrom" required [(ngModel)]="visitor.validFrom">
    </div>

    <div class="form-group">
      <label for="validUpto">Valid Upto</label>
      <input type="text" class="form-control" id="validUpto" name="validUpto" [(ngModel)]="visitor.validUpto" >
    </div>

    <br>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>